# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [3]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)
city_data_df

                city  driver_count   type
0        Richardfort            38  Urban
1       Williamsstad            59  Urban
2        Port Angela            67  Urban
3         Rodneyfort            34  Urban
4        West Robert            39  Urban
..               ...           ...    ...
115     Bradshawfurt             7  Rural
116     New Ryantown             2  Rural
117   Randallchester             9  Rural
118      Jessicaport             1  Rural
119  South Saramouth             7  Rural

[120 rows x 3 columns]

In [4]:
ride_data_df

                    city                 date   fare        ride_id
0     Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1     South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2     Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3             Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4             South Jack  2019-03-06 04:28:35  34.58  3908451377344
...                  ...                  ...    ...            ...
2370         Michaelberg  2019-04-29 17:04:39  13.38  8550365057598
2371     Lake Latoyabury  2019-01-30 00:05:47  20.76  9018727594352
2372         North Jaime  2019-02-10 21:03:50  11.11  2781339863778
2373        West Heather  2019-05-07 19:22:15  44.94  4256853490277
2374          Newtonview  2019-04-25 10:20:13  55.84  9990581345298

[2375 rows x 4 columns]

### Merge the DataFrames

In [6]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [123]:
#  1. Get the total rides for each city type
# use the groupby() function to create a Series of data that has the type of city as the index, 
# then apply the count() method to the "ride_id" column.
urban_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_df_ride_total = urban_df.groupby(["city"]).count()["ride_id"]
# pyber_data_df.groupby(["type"]).count()["ride_id"]
# urban_df.count()["ride_id"]
total_ride_by_type_of_city = pyber_data_df.groupby(["type"]).count()["ride_id"]
total_ride_by_type_of_city
# urban_df_ride_total.head()

<bound method NDFrame.head of type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64>

In [79]:
rural_df = pyber_data_df[pyber_data_df["type"] == "Rural"]
rural_df_ride_total = rural_df.groupby(["city"]).count()["ride_id"]
rural_df_ride_total.head()

city
Bradshawfurt      10
Garzaport          3
Harringtonfort     6
Jessicaport        6
Lake Jamie         6
Name: ride_id, dtype: int64

In [78]:
suburban_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
suburban_df_ride_total = suburban_df.groupby(["city"]).count()["ride_id"]
suburban_df_ride_total.head()

city
Barronchester    16
Bethanyland      18
Brandonfort      19
Colemanland      22
Davidfurt        17
Name: ride_id, dtype: int64

In [121]:
# 2. Get the total drivers for each city type
# In Step 2, use the groupby() function to create a Series of data that has the type of city as the index, 
# then apply the sum() method to the "driver_count" column.
driver_cnt_urban = urban_df.groupby(["city"]).sum()["driver_count"]
cnt = pyber_data_df[pyber_data_df["type"].groupby(["city"])].sum()["driver_count"]

# driver_cnt_urban.head()

KeyError: 'city'

In [64]:
driver_cnt_rural = rural_df.groupby(["city"]).sum()["driver_count"]
driver_cnt_rural.head()

city
Bradshawfurt      70
Garzaport         21
Harringtonfort    24
Jessicaport        6
Lake Jamie        24
Name: driver_count, dtype: int64

In [65]:
driver_cnt_suburban = suburban_df.groupby(["city"]).sum()["driver_count"]
driver_cnt_suburban.head()

city
Barronchester    176
Bethanyland      396
Brandonfort      190
Colemanland      506
Davidfurt        391
Name: driver_count, dtype: int64

In [82]:
#  3. Get the total amount of fares for each city type
# use the groupby() function to create a Series of data that has the type of city 
# as the index, then apply the sum() method to the "fare" column.
fare_sum_urban = urban_df.groupby(["city"]).sum()["fare"]
fare_sum_suburban = suburban_df.groupby(["city"]).sum()["fare"]
fare_sum_rural = rural_df.groupby(["city"]).sum()["fare"]
fare_sum_urban

city
Amandaburgh            443.55
Barajasview            557.31
Carriemouth            764.49
Christopherfurt        661.55
Deanville              491.01
                        ...
West Patrickchester    451.73
West Robert            778.84
West Samuelburgh       544.19
Williamsstad           560.33
Williamsview           531.98
Name: fare, Length: 66, dtype: float64

In [81]:
#  4. Get the average fare per ride for each city type. 
# calculate the average fare per ride by city type by dividing the sum of all the fares by the total rides.

avg_per_ride_urban = fare_sum_urban / urban_df_ride_total  
avg_per_ride_suburban = fare_sum_suburban / suburban_df_ride_total  
avg_per_ride_rural = fare_sum_rural / rural_df_ride_total  
# fare_avg_urban = urban_df.groupby(["city"]).mean()["fare"]
# fare_avg_suburban = suburban_df.groupby(["city"]).mean()["fare"]
# fare_avg_rural = rural_df.groupby(["city"]).mean()["fare"]
avg_per_ride_urban.head()

city
Amandaburgh        24.641667
Barajasview        25.332273
Carriemouth        28.314444
Christopherfurt    24.501852
Deanville          25.842632
dtype: float64

In [118]:
# 5. Get the average fare per driver for each city type. 
# calculate the average fare per driver by city type by dividing the sum of all the fares by the total drivers.
avg_fare_per_driver_urban = fare_sum_urban / driver_cnt_urban
avg_fare_per_driver_suburban = fare_sum_suburban / driver_cnt_suburban
avg_fare_per_driver_rural = fare_sum_rural / driver_cnt_rural
# if pyber_data_df.groupby(["type"]) = 
# pyber_data_df[pyber_data_df["type"] == "Rural"]
# school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
# avg_fare_per_driver_by_city_type = pd.DataFrame(
# [{pyber_data_df.groupby(["type"])}])
# avg_fare_per_driver_rural
pyber_data_df.groupby(["type"]).mean()["driver_count"]

type
Rural        4.296000
Suburban    13.712000
Urban       36.678154
Name: driver_count, dtype: float64

In [113]:
#  6. Create a PyBer summary DataFrame. with all the data gathered from Steps 1-5
# total rides = number of rides
# total drivers = sum of drivers
# total fare = sum of total fare for each city type
#
# avg_school_type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]
# pyber_data_df[pyber_data_df["type"].
temp_avg_driver = {"type" : ["Rural, Suburban, Urban"], "value" : [avg_fare_per_driver_rural,avg_fare_per_driver_suburban,avg_fare_per_driver_urban]}
avg_fare_per_driver_urban
pyber_summary_df = pd.DataFrame(
          {"Total Rides": pyber_data_df.groupby(["type"]).count()["ride_id"], 
          "Total Drivers": pyber_data_df.groupby(["type"]).sum()["driver_count"], 
          "Total Fares": pyber_data_df.groupby(["type"]).sum()["fare"]})
#             ,
#           "Average Fare per Ride": pyber_data_df.groupby(["type"].mean()["fare"]), 
#           "Average Fare per Driver": average_reading_score})
temp_avg_driver

{'type': ['Rural, Suburban, Urban'],
 'value': [city
  Bradshawfurt          5.723429
  Garzaport             3.446190
  Harringtonfort        8.367500
  Jessicaport          36.013333
  Lake Jamie            8.589583
  Lake Latoyabury      13.030909
  Michaelberg           5.832917
  New Ryantown         21.639167
  Newtonview           36.745000
  North Holly           3.641250
  North Jaime          30.802500
  Penaborough           5.874333
  Randallchester        3.304667
  South Jennifer        5.037755
  South Marychester    41.870000
  South Saramouth       5.165714
  Taylorhaven          42.263333
  West Heather          8.472500
  dtype: float64,
  city
  Barronchester          3.311136
  Bethanyland            1.498005
  Brandonfort            3.543737
  Colemanland            1.343241
  Davidfurt              1.391125
  East Aaronbury         3.665873
  East Danielview        1.434572
  East Kentstad          1.491154
  East Marymouth         6.167037
  Grayville             13.881667
  Josephside             1.314326
  Lake Ann              10.296667
  Lake Omar              1.276136
  Lake Robertside        7.815500
  Lake Scott             1.386353
  Lewishaven             1.097464
  Lewisland              8.653529
  Mezachester            2.197143
  Myersshire             1.589638
  New Olivia             1.702706
  New Raymond            1.644813
  New Shannonberg        1.418912
  Nicolechester          1.626814
  North Jeffrey          2.658392
  North Richardhaven    24.704286
  North Timothy          4.466000
  Port Shane             4.439699
  Rodriguezview          1.537267
  Sotoville              3.198000
  South Brenda          33.964583
  South Teresa           1.486688
  Veronicaberg           1.641412
  Victoriaport           1.736250
  West Hannah            2.462302
  West Kimmouth          7.467875
  Williamsonville       15.937500
  dtype: float64,
  city
  Amandaburgh            2.053472
  Barajasview            0.974318
  Carriemouth            0.544509
  Christopherfurt        0.597606
  Deanville              0.527401
                           ...
  West Patrickchester    1.129325
  West Robert            0.644202
  West Samuelburgh       0.298186
  Williamsstad           0.412918
  Williamsview           0.578239
  Length: 66, dtype: float64]}

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')